@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;

  font-family: "Open Sans", sans-serif;

}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 0.9rem;
}

a {
  color: #063572;
}

a:hover {
  color: #063572;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
